<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lembretes - UC14</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://kit.fontawesome.com/6ced12f15b.js" crossorigin="anonymous"></script>
	</head>
	
	<body>
		<header>
		    <h1>Lembretes</h1>
		
		    <nav>
		        <ul>
		            <li>
		                <a href="/">Página Inicial</a>
		            </li>
		
		            <li>
		                <a href="/cadastrarLembrete">Cadastrar Lembrete</a>
		            </li>
		
		            <li>
		                <a href="/lembretes">Listas Cadastradas</a>
		            </li>
		        </ul>
		    </nav>
		</header>
		
		<main id="update-form">
			<h1 id="update-title">Atualizar Lembrete</h1>
			
			<form method="post" id="update">
				<input type="text" name="titulo" value="" th:attr="value = ${lembrete.titulo}">
				<input type="text" name="anotacao1" value="" th:attr="value = ${lembrete.anotacao1}">
				<input type="text" name="anotacao2" value="" th:attr="value = ${lembrete.anotacao2}">
				<input type="text" name="anotacao3" value="" th:attr="value = ${lembrete.anotacao3}">
				<input type="text" name="anotacao4" value="" th:attr="value = ${lembrete.anotacao4}">
				<input type="text" name="anotacao5" value="" th:attr="value = ${lembrete.anotacao5}">
				<input name="observacao" value="" th:attr="value = ${lembrete.observacao}" placeholder="Observações">
				
				<div id="update-btns">
					<button type="submit" class="update-btn">Salvar</button>
					<a href="/lembretes" class="update-btn">Voltar</a>
				</div>
			</form>
		</main>
		
		<footer>
		    <div class="text">
		        <h3>PI UC14 - SENAI Suiço Brasileira Paulo Ernesto Tolle</h3>
		        
		        <p>&copy; Athilas Silva</p>
		    </div>
		
		    <div class="wrapper">
		        <div class="icon github">
		            <div class="popup">Github</div>
		
		            <span>
		                <i class="fa-solid fa-user"></i>
		            </span>
		        </div>
		
		        <div class="icon linkedin">
		            <div class="popup">Linkedin</div>
		
		            <span>
		                <i class="fa-solid fa-briefcase"></i>
		            </span>
		        </div>
		
		        <div class="icon portfolio">
		            <div class="popup">Portfólio</div>
		
		            <span>
		                <i class="fa-solid fa-laptop-code"></i>
		            </span>
		        </div>
		    </div>
		</footer>
	</body>
</html>